.footer {
    font-size: 4rem;
    position: absolute;
    bottom: 10px;
}

.footer .icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    cursor: pointer;
}